<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Build CRUD RestAPI with NodeJS, PostgreSQL and Sequelize</title>

    <%- include("../partials/head/bootstrap.ejs")%> <%-
    include("../partials/head/meta.ejs")%>
  </head>
  <body>
    <div class="bg-dark">
      <div class="container-md container-sm">
        <div class="navbar flex-row px-0">
          <h1 class="h5 py-3 m-0 text-white font-weight-bolder">
            NodeJS PostgreSQL CRUD ReSTAPI
          </h1>
          <div class="navbar-nav">
            <a href="https://sanengineer.com">
              <svg
                width="30"
                height="30"
                viewBox="0 0 60 60"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M60 30C60 46.5685 46.5685 60 30 60C13.4315 60 0 46.5685 0 30C0 13.4315 13.4315 0 30 0C46.5685 0 60 13.4315 60 30ZM30.4194 30.8325L26.9352 28.9962C26.7523 28.9007 26.5727 28.8079 26.3969 28.7171L26.3967 28.717C24.2811 27.6239 22.7312 26.8231 22.8809 25.2091C23.036 23.5921 24.5718 22.7694 26.7563 22.9792C28.0052 23.0929 29.212 23.4883 30.2859 24.1359C30.8209 24.4621 31.4512 24.5959 32.0726 24.5152C32.694 24.4346 33.2693 24.1443 33.7034 23.6923C33.9807 23.4029 34.1908 23.056 34.3188 22.6762C34.4468 22.2964 34.4896 21.893 34.4441 21.4948C34.3985 21.0966 34.2658 20.7133 34.0554 20.3722C33.8449 20.0311 33.5619 19.7405 33.2264 19.5212C31.4408 18.3613 29.4042 17.6443 27.2857 17.4297C21.3856 16.8621 16.7924 20.2128 16.3274 24.9324C15.9267 29.0844 18.4881 31.8032 21.3475 33.2794L24.8794 35.1968C25.0187 35.272 25.1551 35.3453 25.2886 35.4169C27.4416 36.5729 28.8234 37.3149 28.6594 39.0125C28.4949 40.7177 27.083 41.6359 24.4168 41.3831C22.9436 41.1998 21.5325 40.6791 20.2934 39.8615C19.758 39.5197 19.1207 39.3737 18.4899 39.4485C17.8591 39.5233 17.2736 39.8142 16.833 40.2717L16.6064 40.5102C16.3218 40.807 16.1077 41.1641 15.98 41.555C15.8523 41.9459 15.8143 42.3606 15.8689 42.7682C15.9234 43.1758 16.069 43.5658 16.295 43.9094C16.5209 44.253 16.8214 44.5413 17.174 44.7529C19.1802 45.9496 21.4247 46.6913 23.749 46.9255C30.5244 47.5789 34.8529 43.849 35.3084 39.127C35.6995 35.0919 33.7368 32.5639 30.4194 30.8325ZM40.4119 20.0411C42.4284 20.0411 44.0631 18.4064 44.0631 16.3899C44.0631 14.3734 42.4284 12.7387 40.4119 12.7387C38.3954 12.7387 36.7607 14.3734 36.7607 16.3899C36.7607 18.4064 38.3954 20.0411 40.4119 20.0411ZM40.4906 14.6323C41.4684 14.6323 41.9525 15.3287 41.9525 16.2421C41.9526 16.3353 41.947 16.4285 41.9358 16.5211C41.9301 16.5598 41.9105 16.5952 41.8807 16.6206C41.8508 16.6461 41.8128 16.6598 41.7737 16.6594H40.0661C40.04 16.6586 40.0141 16.6642 39.9906 16.6757C39.9672 16.6873 39.9469 16.7044 39.9316 16.7256C39.9163 16.7467 39.9064 16.7714 39.9029 16.7973C39.8993 16.8231 39.9021 16.8495 39.9111 16.874C39.9765 17.0381 40.093 17.1768 40.2433 17.2696C40.3936 17.3624 40.5698 17.4043 40.7458 17.3892C40.9575 17.388 41.166 17.3365 41.3539 17.2389C41.3902 17.2206 41.4321 17.2168 41.4711 17.2284C41.5101 17.2399 41.5433 17.2658 41.5638 17.3009L41.7522 17.6348C41.7623 17.653 41.7687 17.6729 41.771 17.6936C41.7734 17.7142 41.7716 17.7351 41.7659 17.755C41.7601 17.775 41.7505 17.7936 41.7375 17.8098C41.7245 17.826 41.7084 17.8395 41.6902 17.8494C41.3588 18.0369 40.9858 18.1385 40.6051 18.1452C40.3717 18.1578 40.1383 18.1208 39.9203 18.0367C39.7022 17.9526 39.5045 17.8233 39.34 17.6572C39.1755 17.4912 39.0481 17.2922 38.9661 17.0733C38.8841 16.8545 38.8493 16.6208 38.8642 16.3875C38.8689 15.3 39.6655 14.6323 40.4906 14.6323ZM40.9103 16.0465C40.9335 16.0471 40.9564 16.0426 40.9776 16.0334C40.9989 16.0242 41.0178 16.0105 41.0333 15.9933C41.0487 15.9761 41.0602 15.9557 41.0669 15.9336C41.0737 15.9115 41.0756 15.8882 41.0725 15.8653C41.0674 15.797 41.0488 15.7304 41.0178 15.6694C40.9868 15.6084 40.944 15.5541 40.8919 15.5098C40.8397 15.4654 40.7793 15.4318 40.7141 15.411C40.6489 15.3901 40.5803 15.3824 40.5121 15.3883C40.3762 15.3871 40.2436 15.4296 40.1337 15.5094C40.0238 15.5893 39.9424 15.7023 39.9016 15.8319C39.8931 15.8563 39.8906 15.8824 39.8944 15.9079C39.8982 15.9335 39.9082 15.9578 39.9234 15.9786C39.9387 15.9995 39.9587 16.0164 39.9819 16.0278C40.0051 16.0392 40.0307 16.0448 40.0566 16.0441L40.9103 16.0465Z"
                  fill="white"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="container-md container-sm my-5">
      <div class="pargh-content-h1">
        <p>
          Build CRUD (Create, Read, Update, and Delete) RestAPI with NodeJS,
          PostgreSQL and Sequelize. Must login as superuser or admin to get
          create, update and delete feature for this project, watch demo !
        </p>
      </div>
      <h2 class="h4 font-weight-bolder mt-5 mb-4">Tabel User Database</h2>

      <div class="user-game-table my-5">
        <%- include("../partials/body/list-user-game.ejs") %>
      </div>
      <div class="user-game-history-table my-5">
        <%- include("../partials/body/list-user-history.ejs") %>
      </div>
      <div class="user-game-biodata-table my-5">
        <%- include("../partials/body/list-user-biodata.ejs") %>
      </div>
      <%- include("../partials/body/user-form.ejs") %>
    </div>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
