<h2 class="h5 font-weight-bold my-3">Tabel User Game</h2>
<div
  class="tab-pane fade show active"
  id="show-item"
  role="tabpanel"
  aria-labelledby="home-tab"
>
  <!-- DataTales Example -->
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>User ID</th>
              <th>Username</th>
              <th>Email</th>
              <th>Password</th>
              <th>Method</th>
            </tr>
          </thead>
          <tbody>
            <% for( let i = 0; i < usergame.length; i++ ) { %>
            <tr>
              <td><%= usergame[i].user_id %></td>
              <td><%= usergame[i].username %></td>
              <td><%= usergame[i].email %></td>
              <td><%= usergame[i].password %></td>
              <td>
                <form
                  action="/admin/user-game/<%= usergame[i].user_id %>?_method=DELETE"
                  method="POST"
                >
                  <button
                    type="button"
                    class="btn btn-warning"
                    data-toggle="modal"
                    data-target="#updateUserGameModal"
                    data-whatever="@sanengineer"
                  >
                    Update
                  </button>
                  <button
                    class="btn btn-danger"
                    type="hidden"
                    name="_method"
                    value="DELETE"
                  >
                    Delete
                  </button>
                </form>
              </td>
            </tr>

            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="updateUserGameModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">User Game Details</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% for( let i = 0; i < usergame.length; i++ ) { %>
        <form
          action="/admin/user-game/<%= usergame[i].user_id %>?_method=PUT"
          method="POST"
        >
          <div class="form-group">
            <label for="forUsername">Username</label>
            <input
              id="formName"
              type="text"
              name="username"
              class="form-control col"
            />
          </div>
          <div class="form-group">
            <label for="forEmail">Email</label>
            <input
              id="forDescription"
              type="email"
              name="email"
              class="form-control col"
            />
          </div>
          <div class="form-group">
            <label for="forPassword">Password</label>
            <input
              id="forPassword"
              type="password"
              name="password"
              class="form-control col"
            />
          </div>
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            Close
          </button>
          <button
            class="btn btn-warning"
            type="hidden"
            name="_method"
            value="PUT"
            class="btn btn-primary"
          >
            Update
          </button>
        </form>
        <% } %>
      </div>
    </div>
  </div>
</div>
